.git
.gitignore
.idea
.claude
.codex
.env
LICENSE

backend/.gradle
backend/build
backend/out
backend/src/test
backend/.gitattributes
backend/.gitignore
backend/gradlew.bat

frontend/.quasar
frontend/dist
frontend/node_modules
frontend/.vscode
frontend/.editorconfig
frontend/.gitignore
frontend/.nvmrc
frontend/.prettierrc.json
frontend/README.md
frontend/jsconfig.json
frontend/pnpm-lock.yaml
frontend/pnpm-workspace.yaml

**/.DS_Store
**/*.log
